cachetools==5.2.1
certifi==2022.12.7
charset-normalizer==2.1.1
cssselect==1.2.0
cssutils==2.6.0
idna==3.4
lxml==4.9.2
numpy==1.24.1
premailer==3.10.0
pytz==2022.7
requests==2.28.1
urllib3==1.26.13
venmo-api==0.3.1
yagmail==0.15.293
